.contact-us {
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
  }
 
  .contact-us h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #343a40;
  }
 
  .contact-us p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #495057;
  }
 
  .contact-us ul {
    list-style-type: none;
    padding: 0;
    font-size: 16px;
    color: #495057;
  }
 
  .contact-us ul li {
    margin-bottom: 10px;
  }
 
  .contact-us strong {
    display: block;
    font-weight: bold;
    color: #343a40;
  }