.profile {
  padding: 20px;
  background-color: #f4f4f4;
  min-height: 100vh; /* Ensure the profile takes at least full viewport height */
}

.profile h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.profile-details {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.profile-details p {
  font-size: 1.2em;
  margin: 10px 0;
  color: #000;
}
